@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'VT323', monospace;
  background-color: theme('colors.black');
  background-image: radial-gradient(
    rgba(0, 52, 150, 0.75), theme('colors.black') 120%
  );
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: theme('colors.white');
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 2px,
      transparent 2px,
      transparent 4px
    );
    pointer-events: none;
  }
}

::selection {
  @apply bg-blue-600 text-shadow-none;
}

#storyDisplay {
  @apply text-center max-h-[25vh] overflow-y-auto text-xl;
}

.option_button {
  @apply bg-transparent border-2 border-white text-shadow;
}