html{
  background-color: rgb(64, 64, 64);
}
body {
  font-family: 'VT323', monospace;
  font-size: larger;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 5px greenyellow;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 2px,
      transparent 2px,
      transparent 4px
    );
    pointer-events: none;
  }
}

::selection {
  @apply bg-blue-600 text-shadow-none;
}

#storyDisplay {
  @apply text-center max-h-[25vh] overflow-y-auto text-xl;
}

.option_button {
  @apply bg-transparent border-2 border-white text-shadow;
}

#root{
  margin: 2em;
  height: calc(100vh - 4rem);
  border-radius: 6px;
}

/*#root div{ 
  height: 100%;
}*/
